/* css styles */
body {
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  background-color: #6E152E;
}

.navbar-brand, .navbar-nav > li > a {
  color: white !important;
}
p {
  text-align: justify;
}
/* Enlace normal */
a {
  color: #0000EE; /* Azul clásico */
  text-decoration: underline;
}

/* Enlace visitado */
a:visited {
  color: #551A8B; /* Morado clásico */
}

/* Enlace al pasar el mouse */
a:hover {
  color: #1E90FF; /* Azul brillante */
}
